/* font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

/* title */

#title {
  /* background-color: #365472; */
  padding: 10% 0;
}

/* .title-img {
  background-image: url("images/Adelaide-Hills.jpg");
} */

#title.container-fluid {
}

/* sub-headings */

.carousel-titles {
  font-family: 'Cinzel', serif;
  color: #183658;
  /* padding: 5% 0; */
}

.color-section {
  /* background-image: url("images/Adelaide-Hills.jpg"); */
  background-color: #365472;
  color: white;
}

.white-separator {
  background-color: #fff;
  height: 60px;
}

.blue-separator {
  background-color: #365472;
  height: 1px;
}

/* carousel */

/* .indicator-button {
  margin-top: 3%;
} */

/* .carousel-indicators {
  margin-top: 5%;
} */

.portfolio-img {
  /* padding: 7% 0 10%; */
  width: 50%;
}

  #adelaide-hills {
    background-color: #ffffff;
  }

  #sellicks-beach {
    background-color: #ffffff;
  }

#valley-view {
  background-color: #ffffff;
}

.carousel-control-prev-icon, .carousel-control-next {
  filter: invert(1);
}

.empty-container {
  height: 80px;
}

.custom-button {
  /* background-color: #365472; */
  color: #155493;
  /* font-weight: 900; */
  letter-spacing: 1.5px;
  margin: 5%;
  border-color: #155493;
  border-width: thin;
}

#footer {
  font-size: 1rem;
  padding: 3% 0 1%;
}
