/* font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-width: thick;
  color: lightgray;
  height: 10px;
  width: 30%;
}

#title {
  padding: 10% 0;
  position: relative;
  background-image: url("../images/background-img.jpg");
  background-size: cover;
}

#title::before {
  content: "";
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(24, 54, 88, .7);
}

.title-img {
  position: relative;
}

.carousel-titles {
  font-family: 'Cinzel', serif;
  color: #183658;
}

.color-section {
  background-color: #365472;
  color: white;
}

.white-separator {
  background-color: #fff;
  height: 60px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  transition: 1s;
}

.text {
  display: none;
}

.img-fluid:hover + .text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-style: italic;
}

.img-fluid:hover {
  transform: scale(1.1);
  opacity: .6;
  transition: 1s;
}

@media (hover: none) {
  img-fluid {
  transform: scale(1);
  opacity: 1;
  }
}

#adelaide-hills {
  background-color: #ffffff;
}

#sellicks-beach {
  background-color: #ffffff;
}

#valley-view {
  background-color: #ffffff;
}

.carousel-control-prev-icon, .carousel-control-next {
  filter: invert(1);
}

.empty-container {
  height: 80px;
}

.custom-button {
  color: #155493;
  letter-spacing: 1.5px;
  margin: 5%;
  border-color: #155493;
  border-width: thin;
}

.custom-button:hover {
  background-color: #365472;
  border-color: #fff;
}

#footer {
  font-size: 1rem;
  padding: 3% 0 1%;
}
