/* font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-width: thick;
  color: lightgray;
  height: 10px;
  width: 30%;
}

#title {
  padding: 10% 0;
  position: relative;
  /* background-color: #365472; */
  background-image: url("../images/background-img.jpg");
  background-size: cover;
}

#title::before {
  content: "";
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(24, 54, 88, .7);
}

.title-img {
  position: relative;
  /* z-index: -1; */
}

.carousel-titles {
  font-family: 'Cinzel', serif;
  color: #183658;
}

.color-section {
  background-color: #365472;
  color: white;
}

.white-separator {
  background-color: #fff;
  height: 60px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* .carousel-item .portfolio-img {
  width: 100%;
  height: 100%;
} */

#adelaide-hills {
  background-color: #ffffff;
}

#sellicks-beach {
  background-color: #ffffff;
}

#valley-view {
  background-color: #ffffff;
}

.carousel-control-prev-icon, .carousel-control-next {
  filter: invert(1);
}

.empty-container {
  height: 80px;
}

.custom-button {
  color: #155493;
  letter-spacing: 1.5px;
  margin: 5%;
  border-color: #155493;
  border-width: thin;
}

#footer {
  font-size: 1rem;
  padding: 3% 0 1%;
}
